<div class="container" ontouchstart="this.classList.toggle('hover');">
  <div class="card">  
    <div class="card_front1">
      <img class = "card-symbol" src="{{data.imageUrl}}">
    </div>

    <div class="card_back">
      <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYyJb4srslfuLPByjXK9YLUUjOMM_55rrOTRlYaCeLHtwBLYLUCbclRqnXRRAHREO8xzA&usqp=CAU" class="card-symbol" style="height: 200px; width: 200px; text-align: center;">
      <div class="card-text">
        <p>User Name: {{data.name}}</p>
        <hr>
        <p>Seats booked: {{data.seat}}</p>
        <hr>
        <p>Total price incurred: {{data.totalPrice}}</p>
        <hr>
        <br><br>
        <h3>SUCCESSFULLY BOOKED!</h3>
      </div>
    </div>    

  </div>
</div>
